body{

    text-align: center;
}

#menu{
    background-color: black;
    width: 100vw;
    height: 100px;
    text-align: center;  
}

.menu-item{
    font-size: 40px;
    float: left;
    margin-left: 20px;
    color: white;
}

#header{
    width: 100vm;
    
    
}

