body{
    position: static;
    margin: 0;
    
}

#menu{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100px;
    text-align: center;
      
}

nav#menu > ul{
    margin:0;
}

nav#menu > ul > li.menu-item{
    font-size: 20px;
    display: inline-block;
    padding: 25px;
    text-decoration: none;
}


#header{
    width: 100vw;
}

Header>img{
    width: 100%;
}

li>a{
    color: white;
}