body{
    position: static;
    
}

#menu{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100px;
    text-align: center;
      
}

.menu-item{
  
    font-size: 30px;
    margin-left: 20px;
    display: inline;
    text-align: center;
}

#header{
    width: 100vw;
}

Header>img{
    width: 100%;
}

li>a{
    color: white;
}